<!DOCTYPE html>
<html>
<head>
    <title>PDF Translator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='default.css') }}">
</head>
<body>
    <h1>PDF Translator</h1>
    <form method="POST" enctype="multipart/form-data">

        <div class="label-wrap"><label for="from_language">From :</label></div>
        
        <select id="from_language" name="from_language">
            <option value="en">English</option>
            <option value="fr">French</option>
            <!-- Add more language options -->
        </select>
        <br>
        <div class="label-wrap"><label for="to_language">To :</label></div>
        
        <select id="to_language" name="to_language">
            <option value="es">Spanish</option>
            <option value="de">German</option>
            <!-- Add more language options -->
        </select>
        <br>
        <div class="label-wrap"><label for="pdf_file">Select PDF File:</label></div>
        <input class="pdf-select" type="file" id="pdf_file" name="pdf_file" accept=".pdf">
        <br>
        <div class="btn-wrapper"><button class="btn-translate" type="submit">Translate</button></div>
        
    </form>
</body>
</html>
